@import url("Lato_Light/stylesheet.css");
/* 
    Document   : profile
    Created on : 5 Aug, 2015, 7:08:00 PM
    Author     : Kiran
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.main_wrapper .center_content_wrapper .profile_Row {
	float: left;
	width: 40%;
	position: relative;
	margin-top: 2%;
	margin-bottom: 2%;
        margin-left: 2%;
}
.main_wrapper .center_content_wrapper .profile_RowSecond {
	float: left;
	width: 20%;
	position: relative;
	margin-top: 2%;
	margin-bottom: 2%;
        margin-left: 4%;
}
.main_wrapper .center_content_wrapper .profile_RowThird {
	float: left;
	width: 25%;
	position: relative;
	margin-top: 2%;
	margin-bottom: 2%;
        margin-left: 4%;
}
.main_wrapper .center_content_wrapper .profile_Row .ProfileRowItem {
	position: relative;
        width: 100%;
        float: left;
}
.BorderYellow {
        border-right: solid 1px #e9e9e9;
        border-left: solid 1px #e9e9e9;
        border-top: solid 1px #e9e9e9;
        border-bottom: solid 1px #e9e9e9;
}

.main_wrapper .center_content_wrapper .profile_Row .ProfileRowItem .BrandProfileName {
	font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: lighter;
	font-size: 20px;
	color: #fff;
	position: relative;
	float: left;
	width: 96%;
	background: #2ecc71;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	padding-top: 1%;
}
.BrandProfileCover{
        max-width: 100%;
        max-height: 250px;
}
.BrandCoverImage{
    width: 100%;
    max-height: 250px;
}
.BrandLogo{
    position: relative;
    border-radius: 200px;
    border: solid 2px #FFF;
    height: 30px;
    width: 30px;
    padding: 10px;
    text-align: center;
    float:left;
}
.BrandLogo_Red{
    position: relative;
    border-radius: 200px;
    border: solid 2px #E74C3C;
    height: 30px;
    width: 30px;
    padding: 10px;
    text-align: center;
    float:left;
}
.BrandName{
    position: relative;
    float: left;
    margin-top:3.5%;
    margin-left: 3%;
}
.red_colorSetter{
    background: #E74C3C !important;
}
.followersCount{
    padding: 10px;
    border-bottom: solid 1px #ccc;
    float: left;
    width: 94%;
    margin-left: 1%;
    margin-right: 1%;
}
.fCount{
    font-family: "Quarca ConReg gdi";
    color:#000;
    font-size: 18px;
    position: relative;
    float: left;
    margin-left: 2%;
    margin-top: 4%;
}
.fCount_red{
    color: #E74C3C;
    font-family: "Quarca ConReg gdi";
    font-size: 18px;
    position: relative;
    float: left;
    margin-left: 2%;
    margin-top: 4%;
}
.FollowWidget{
    background: #E74C3C;
    color:#fff;
    font-family: "Quarca ConReg gdi";
    font-size: 18px;
    float: right;
    margin-right: 3%;
    margin-top: 3%;  
    padding-top: 4%;
    padding-right: 6%;
    padding-left: 6%;
    padding-bottom: 4%;
}
.FollowingFriends{
    position: relative;
    float: left;
    width: 96%;
    padding: 2%;
}
.Brand_Desc{
	position: relative;
	padding: 2%;
	width: 96%;
	float: left;
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	color: #908CA3;
	text-align: justify;
    background: #FDFDFD;
    border-bottom: solid 1px #e9e9e9;
}
.brandAddress{
    position: relative;
    padding: 2%;
    width: 96%;
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    color: #908CA3;
    text-align: justify;
    background: #FDFDFD;
    border-bottom: solid 1px #e9e9e9;
}
.FindBrandNearYou{
    position: relative;
    float: left;
    padding: 2%;
    width:96%;
    background: #fff;
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
}
.StoreFinderInput{
    padding: 10px;
    background: rgba(255,255,255,1);
    border: solid 2px #F1C40F;
    border-radius: 5px;
    width: 74%;
    font-family: "Quarca ConReg gdi";
    font-size: 15px;
    letter-spacing: 1px;
}
.FindStoreButton{
    background: #fff;
    color:#F1C40F;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 2px #F1C40F;
    border-radius: 5px;
    margin-left: 3%;
    font-family: "Quarca ConReg gdi";
    font-size: 15px;
    letter-spacing: 1px;
}
.FindStoreButton:hover{
    cursor: pointer;
}
.FindStoreButton:focus{
    outline: none;
}
.StoreFinderInput:focus{
    outline: none;
}
.YourInterestLevel{
    position: relative;
    float: left;
    width: 96%;
    padding-top: 2%;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 2%;
    text-align: center;
    border-bottom: solid 1px #e1e1e1;
}
.YourInterestLevel span{
    font-family: "Quarca ConReg gdi";
    font-size: 70px;
    letter-spacing: 1px;
    width:100%;
}
.CommentContent{
     font-family: "Quarca ConReg gdi";
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0px;
    margin-top: 2%;
}
.SingleUserComment{
    position: relative;
    float: left;
    width: 96%;
    padding-top: 2%;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 2%;
    border-bottom: solid 1px #e8e8e8;
}
.UsersRatings{
    text-align: center;
    float: left;
    width:60%;
    padding-left: 25%;
}
.CommentContent{
    float: left;
    text-align: justify;
}
.profilePicOfUser{
    float: left;
    font-family: "Quarca ConReg gdi";
    font-size: 11px;
    letter-spacing: 1px;
    margin: 0px;
}
.ActualPicContent{
    border-radius: 100px;
    border: solid 1px #ccc;
    float: left;
    padding: 3px;
}
.SpecificUserating{
    width: 100%;
    text-align: center;
    padding-top: 1%;
}
.CommenterName{
    font-family: "Quarca ConReg gdi";
    font-size: 15px;
    letter-spacing: 1px;
   margin-left: 10px;
   font-weight: bold;
   color:#C0392B;
}

.TrendingOffers{
    float:left;
    width: 96%;
}
.OffersTitle{
    padding: 5%;
    font-family: "Quarca ConReg gdi";
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    border: solid 1px #e1e1e1;
    margin-bottom: 1%;
}
.SingleTrendingItem{
    margin-top: 3%;
    padding: 3%;
    text-align: center;
}
.discount{
    border: solid 1px #2ecc71 !important;
    color:#27ae60 !important;
}
.product{
    border: solid 1px #e74c3c !important;
    color:#e74c3c !important;
}
.following{
    background: #2ecc71 !important;
}
.pageTimeline{
    width:100%;
    float: left;
    background: #f5f5f5;
}
.pageTimeline .timeLineOptions{
    width:100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #666;
    float: left;
}
.timeLineOptions .singleOption{
    width:15.75%;
    padding-left:4.5%;
    padding-right:4.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    float: left;
    border: solid 1px #e9e9e9;
    text-align:center;
}
.loadFeed{
    width:40%;
    margin-left: 15%;
    float: left;
    height:200px;
}
.sideFeed{
    width:30%;
    float: left;
    height:200px;
    margin-left: 2.5%;
}
.singleSideFeed{
    width:100%;
}
.event{
    width:90%;
    padding: 2.5%;
    background: #FFF;
    float: left;
    margin-left:5%;
    margin-top:7%;
    text-align: center;
    border-radius: 10px;
}
.event .month{
    color: #2ecc71;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight:bold;
    float: left;
    width:100%;
    text-align: center;
    margin-bottom: 2%;
}
.event .addEventButton{
    width:40%;
    background: #2ecc71;
    padding: 5%;
    color:#FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: 25%;
    float: left;
}
.event .date{
    color: #2ecc71;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight:bold;
    float: left;
    width:100%;
    margin-bottom: 5%;
    text-align: center;
}

/* Media Queries Start here For Mobile And Tab */
@media screen and (max-width: 480px) {
    .main_wrapper .center_content_wrapper .profile_Row {
        width: 95%;
        position: relative;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 2%;
    }
    .main_wrapper .center_content_wrapper .profile_RowSecond {
        width: 95%;
        position: relative;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 4%;
    }
    .main_wrapper .center_content_wrapper .profile_RowThird {
        width: 95%;
        position: relative;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 4%;
    }
}